input[type=button]{
    border: none;
    background: 0 0;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 37px;
    margin: -21px 10px 0 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}
input[type=button]:hover{
    background-color: whitesmoke;
}